@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

.connectButton {
   font-family: "Sora", sans-serif;
   font-weight: 800;
   font-size: 18px;
   color: white;
   background: linear-gradient(to bottom right, #c24242 -8%, #c439b8 100%);
   border-radius: 40px;
   border-style: solid;
   border-width: 3px;
   border-color: white;
   cursor: pointer;
   padding: 10px 50px;
}

.connectButton:hover {
   background: linear-gradient(to bottom right, #a83838 -8%, #9e2e95 100%);
}
